#admin-login-button {
    outline: none !important;
    width: 100% !important;
    background-color: #3b82f6 !important;
}

#admin-login-button:hover {
    background-color: #2563eb !important;
}

#admin-login-button:active {
    background-color: #3a6ad3 !important;
}

.p-inputgroup > .p-inputtext:focus {
    border-color: #3b82f6 !important;
}