@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lora';
  src: url('/src/assets/font/Lora/static/Lora-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Marcellus';
  src: url('/src/assets/font/Marcellus/Marcellus-Regular.ttf') format('truetype'),
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  color: #ddecef;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

/**
  * Hero Section Styles
  */  

.hero-trailer-thumb {
  z-index: 2;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

#video-description {
  text-shadow: 2px 2px 4px #5fa2e2;
}

#video {
  box-shadow: 0px 0px 40px #1d9eda;
}